* {
    font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif
}

pre {
    font-family: monospace;
}

body {
    background: #eee;
}

#content-container {
    padding-top: 45px;
}

#main {
    padding: 45px;
    background: #fff;
    top: 0;
    left: 0;
    max-width: 50vw;
    margin-right: 25vw;
    margin-left: 25vw;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1)
}

.nav {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 45px;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 12px;
}

.nav a img {
    padding-top: 3px;
}

.nav .right {
    float: right;
    padding: 0;
    margin: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown button {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-size: 16px;
    font-family: inherit;
    padding: 12px 12px;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav a:hover, .dropdown:hover button {
    background-color: #d00;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.triangle-down {
    width: 0;
    height: 0;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 8px solid #fff;

    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

.triangle-right {
    width: 0;
    height: 0;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    border-left: 8px solid #fff;

    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
